.home_head {
  height: 12rem;
  width: 100%;
  position: relative;
  margin-bottom: .4rem;
}
.center_mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999999999999;
  width: 5.5rem;
  display: none;
}
.home_ref {
  width: 100%!important;
  padding-bottom: 4rem;
  background: rgba(0,0,0,.5);
}
.nav_cancel {
  width: 85%;
  height: 1rem;
  margin-top: .5rem;
}
.cancel_img {
  width: .5rem;
  height: auto;
  float: right;
}
.nav_border {
  width: 70%;
  border: .5px solid #edf0ec;
  margin: 0 auto;
  margin-top: .3rem;
}
.nav_tabs {
  width: 60%;
  height: auto;
  margin-left: 15%;
  margin-top: .5rem;
}
.nav_li {
  color: #000;
  font-size: .4rem;
  height: .9rem;
  line-height: .9rem;
  font-family: 微软雅黑;
}
.nav_footer {
  position: absolute;
  bottom: .8rem;
  left: 15%;
}
.call_phone {
  width: 4.1rem;
  height: .9rem;
  border-radius: 8px;
  background-color: #009dfb;
  line-height: .9rem;
  float: left;
  font-size: .34rem;
  font-family: 微软雅黑;
  letter-spacing: .05rem;
  color: #fff;
}
.call_phone_img {
  margin-top: .3rem;
  margin-left: .6rem;
  width: .35rem;
  height: .35rem;
  float: left;
  margin-right: .2rem;
}
.head_top {
  width: 90%;
  height: 1.75rem;
  position: absolute;
  left: 5%;
  top: .45rem;
  z-index: 999999;
}
.top_img1, .top_img2 {
  height: auto;
  float: left;
  z-index: 999999;
}
.top_img1 {
  width: .8rem;
  margin-right: .3rem;
}
.top_img2 {
  width: 1.8rem;
}
.top_img3 {
  width: .6rem;
  float: right;
}
.class_img2, .top_img3 {
  height: auto;
  z-index: 999999;
}
.tab_index, .tab_index_2 {
  width: 2rem;
  height: auto;
  border-radius: .1rem;
  position: absolute;
  left: 5%;
  display: none;
}
.tab_index_2{
  top: 1.1rem;
  z-index: 99999;
  background-color: #f7f8fa;
}
.tab_index {
  background-color: #fff;
  bottom: 1.57rem;
}
.display_show {
  display: block!important;
}
.tab_index {
  background-color: #fff;
  bottom: 1.57rem;
}
.tab_index_l {
  line-height: 44px;
  padding: 0 20px;
  cursor: pointer;
  outline: none;
  width: 100%;
  font-size: .4rem;
}
.tab_active {
  color: #008de1;
}
.head_search {
  width: 90%;
  height: 1.2rem;
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 2002;
  background-color: #fff;
  border-radius: 5px;
}
.head_s_l {
  width: 2.3rem;
  float: left;
  height: .6rem;
  cursor: pointer;
  outline: none;
  padding: .25rem .2rem;
  position: relative;
  color: #333;
}
.head_s_l span {
  text-indent: .2rem;
  font-size: .4rem;
  line-height: 30px;
  padding-left: .3rem;
}
.head_s_l_bor {
  border-right: .02rem solid #ccc;
  height: .6rem;
  float: left;
  margin-top: .3rem;
}
.search_text {
  width: 4rem;
  text-indent: .3rem;
  border: 0;
  height: 1.2rem;
  float: left;
  border-radius: 5px;
}
.search_submit {
  border: none;
  padding: 0;
  width: 1.8rem;
  height: 1.2rem;
  background-color: #008de1;
  border-radius: 0 5px 5px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  float: right;
}
.button_img {
  width: .5rem;
  height: auto;
  z-index: 999999;
}
.history_box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 2px;
  display: none;
}
.history_box_content {
  min-height: 1.5rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  padding: 17px;
  max-height: 2rem;
  overflow-y: auto;
}
.history_box_title {
  margin-bottom: .15rem;
}
.b5nQ3, .OLt9U {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
}
.OLt9U {
  margin-right: 10px;
  color: #666;
}
.b5nQ3 {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  color: #008de1;
  cursor: pointer;
}
.hidden_title {
  margin: 0 auto;
  margin-top: .4rem;
  width: 50%;
  height: 37px;
  margin-bottom: .55rem;
  z-index: 999;
}
.hidden_title_p {
  font-family: 微软雅黑;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.title_border {
  width: .9rem;
  text-align: center;
  margin: 0 auto;
  margin-top: .2rem;
  border-top: 3px solid #009dfb;
}
.bl_1 {
  height: auto;
  margin-left: 2%;
  column-count: 2;
  width: 95%;
  margin-top: .4rem;
  margin-right: 3%;
  column-gap: .1rem;
}
.bl_box {
  position: relative;
  min-height: 2rem;
  border-radius: 5px;
  margin-bottom: .05rem;
  break-inside: avoid;
  height: auto;
}
.bl_box_title_p {
  position: absolute;
  top: 43%;
  z-index: 90999;
  color: #fff;
  opacity: 1;
  font-size: .4rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.bl_box_title {
  opacity: .35;
  z-index: 100;
  background-color: #000;
  height: 99%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 微软雅黑;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .1rem;
}
.class_img2, .top_img3 {
  height: auto;
  z-index: 999999;
}
.class_img2 {
  width: 100%;
  border-radius: .1rem;
}
.bl_more {
  width: 2.5rem;
  height: .6rem;
  border-radius: 5px;
  margin: .4rem auto;
  margin-bottom: .5rem;
  text-align: center;
  font-family: 微软雅黑;
  line-height: .6rem;
  letter-spacing: .1rem;
  display: block;
  border: 1px solid #bfbfbf;
}
.bl_2 {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}
.bl_img2 {
  width: 100%;
  height: 1.5rem;
}
.solid_border {
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: .2rem;
  background-color: #fff;
  border-top: none;
}
.header {
  width: 100%;
  height: .9rem;
  z-index: 999;
  background-color: #fff;
  padding-top: .5rem;
}
.header_logo_img {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 2rem;
  height: auto;
  float: left;
}
.header_my_img, .header_search_img {
  float: right;
  width: .6rem;
  height: auto;
}
.header_my_img {
  margin-right: .7rem;
}
.header_search_img {
  margin-right: .5rem;
}
.header_my_img, .header_search_img {
  float: right;
  width: .6rem;
  height: auto;
}
.header_return_img {
  width: .3rem;
  height: auto;
  margin-left: .7rem;
  float: left;
}
.images_title {
  color: #333;
  font-family: 微软雅黑;
  font-size: .45rem;
  margin-bottom: .4rem;
  text-align: left;
  width: 90%;
  margin-left: 5%;
}
.down_img, .purchase_card {
  width: 90%;
  height: 1.2rem;
  margin-left: 5%;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 1.2rem;
  color: #fff;
}
.down_img {
  background-color: #009dfb;
  font-size: .4rem;
  margin-bottom: .3rem;
}
.detail_img_content {
  width: 90%;
  margin-left: 5%;
  height: auto;
  padding-top: .3rem;
}
.de_box_1 {
  float: left;
  width: 5rem;
}
.de_2, .de_3, .de_l {
  font-family: 微软雅黑;
  display: block;
}
.de_2, .de_l {
  color: #333;
  font-size: .45rem;
}
.de_l {
  margin-top: .3rem;
}
.de_3 {
  color: #999;
  font-size: .33rem;
  margin-top: .2rem;
}
.de_2, .de_3, .de_l {
  font-family: 微软雅黑;
  display: block;
}
.de_box_2 {
  float: right;
  width: 2rem;
  margin-right: .5rem;
}
.de_box_3 {
  width: 3.5rem;
  float: left;
}
.de_box_4 {
  width: 2.5rem;
  float: left;
}
.de_box_5 {
  float: right;
  width: 2rem;
  margin-right: .5rem;
}
.de_4_box {
  height: 1rem;
}
.de_4 {
  color: #999;
  font-family: 微软雅黑;
  font-size: .3rem;
  margin-top: .4rem;
  line-height: .4rem;
  display: block;
  float: left;
}
.de_4_img {
  float: left;
  width: .5rem;
  height: auto;
  margin-top: .3rem;
  margin-left: .2rem;
}
.more-img-box img:nth-child(odd) {
  margin-left: 0;
}
.activityDetail .content .more{
  padding: .533333rem .4rem .266667rem;
  box-sizing: border-box;
}
.activityDetail .content .more .more-title{
  font-size: .32rem;
  color: #333;
  margin-bottom: .433333rem;
}
.activityDetail .content .more .more-img-box img{
  width: 4.6rem;
  height: 2.8rem;
  border-radius: .106667rem;
  margin-bottom: .266667rem;
}
.setting .list .list-item{
  height: 1.6rem;
  border-bottom: .013333rem solid #d8d6d9;
  box-sizing: border-box;
  font-size: .426667rem;
  color: #31333b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 86%;
  margin-left: .7rem;
}
.fav_head {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: .3rem;
}
.fav_left, .fav_right {
  color: #333;
  font-size: .4rem;
}
.fav_left {
  float: left;
}
.fav_right {
  float: right;
  margin-right: .2rem;
}
.fav_left, .fav_right {
  color: #333;
  font-size: .4rem;
}
.search_top {
  width: 90%;
  margin-left: 5%;
  background-color: #f7f8fa;
  margin-top: .3rem;
  margin-bottom: .3rem;
  border-radius: .1rem;
}
.van-search__content--round{
  border-radius: 0 .1rem .1rem 0!important;
}
.van-search__action{
  padding: 0 9px;
  color: #323233;
  font-size: 16px;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  background-color: #fff;
  padding-right: 0;
}
.van-search__content {
  display: flex;
  flex: 1;
  padding-left: 8px;
  background-color: #f7f8fa;
  border-radius: 2px;
}
.van-search .van-cell {
  flex: 1;
  padding: 5px 8px 5px 0;
  background-color: transparent;
}
.van-search .van-cell{
  padding: 8px 8px 8px 0;
}
.van-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}
.van-field__left-icon{
  display: none;
}
.requirements_shadow {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0,0,0,.5);
}
.requirements {
  width: 80%;
  height: 11rem;
  background-color: #fff;
  position: absolute;
  top: 3.6rem;
  left: 10%;
  opacity: 1;
  border-radius: .15rem;
}
.requirements_title {
  width: 100%;
  height: 1.1rem;
  font-size: .45rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333;
  line-height: 1.1rem;
  text-align: center;
  margin-top: .3rem;
}
.van-cell-group {
  background-color: #fff;
}

.van-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}
.van-cell__value--alone {
  color: #323233;
  text-align: left;
}
.van-field__value {
  overflow: visible;
}
.van-cell__value {
  position: relative;
  overflow: hidden;
  color: #969799;
  text-align: right;
  vertical-align: middle;
  word-wrap: break-word;
}
.van-cell__title, .van-cell__value {
  flex: 1;
}
.van-field__body {
  display: flex;
  align-items: center;
}
.input_text .van-field__control {
  min-height: .7rem!important;
}
.van-field__control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  color: #323233;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0;
  resize: none;
}
.van-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}
.input_textarea .van-field__control {
  min-height: 2.2rem!important;
}
.down_img, .purchase_card {
  width: 90%;
  height: 1.2rem;
  margin-left: 5%;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 1.2rem;
  color: #fff;
}
.down_img {
  background-color: #009dfb;
  font-size: .4rem;
  margin-bottom: .3rem;
}
.input_text {
  height: 1.3rem;
  margin-top: .266667rem;
  width: 90%;
  margin-left: 5%;
  border: 1px solid #999;
  border-radius: .15rem;
}
.input_textarea {
  height: 2.6rem;
  margin-top: .266667rem;
  width: 90%;
  margin-left: 5%;
  border: 1px solid #999;
  border-radius: .15rem;
}
.back_box{
  width: 100%;
  background: #000;
  opacity: .7;
}
.logo_fixed{
  position: fixed;
  width: 2.5rem;
  top: 80%;
  left: 4rem;
  height: auto;
}
.down_card_content {
  width: 100%;
  margin-left: 5%;
}
.user_message {
  width: 90%;
  height: 3rem;
  border-radius: .2rem;
  margin-top: .7rem;
  box-shadow: 0 0.02rem 0.3rem 0 rgb(0 0 0 / 8%);
}
.user_content {
  width: 90%;
  height: 100%;
  margin-left: 5%;
}
.user_logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  float: left;
  border: .04rem solid #fff;
  margin-top: .3rem;
}
.u_l_1 {
  width: 45%;
  height: auto;
  float: left;
  margin-left: .4rem;
  margin-top: .4rem;
}
.u_l_p1, .u_l_p2 {
  color: #333;
  font-family: 微软雅黑;
  font-weight: 400;
}
.u_l_p1 {
  font-size: .4rem;
  line-height: .5rem;
}
.u_l_p2 {
  font-size: .3rem;
  line-height: .8rem;
}
.u_l_p1, .u_l_p2 {
  color: #333;
  font-family: 微软雅黑;
  font-weight: 400;
}
.use_m_l {
  float: left;
  width: 50%;
  margin-top: .35rem;
  height: auto;
  margin-left: .2rem;
}
.user_icon {
  width: .4rem;
  float: left;
  height: auto;
  margin-right: .2rem;
}
.use_m_l p {
  color: #292b32;
  font-size: .35rem;
  font-family: 微软雅黑;
  font-weight: 400;
  line-height: .5rem;
}
.use_m_r {
  float: right;
  margin-top: .35rem;
  width: 45%;
  height: auto;
}
.user_icon {
  width: .4rem;
  float: left;
  height: auto;
  margin-right: .2rem;
}
.use_m_r p {
  color: #292b32;
  font-size: .35rem;
  font-family: 微软雅黑;
  font-weight: 400;
  line-height: .5rem;
}
.buy_card_box {
  width: 2.8rem;
  height: 4rem;
  border: .01rem solid #bf9676;
  border: 1px solid #ccc;
  border-radius: .3rem;
  box-sizing: border-box;
}
.selected{
  border: .01rem solid #deb565;
  box-sizing: border-box;
  background-color: #faf6ec;
}
.b_c_b_1, .b_c_b_2 {
  font-family: 微软雅黑;
  font-weight: 600;
  text-align: center;
}
.b_c_b_1 {
  font-size: .4rem;
  color: #333;
  margin-top: .3rem;
}
.b_c_b_2 {
  font-size: .9rem;
  color: #deb565;
  margin-top: .2rem;
  padding-right: .15rem;
}
.b_c_b_1, .b_c_b_2 {
  font-family: 微软雅黑;
  font-weight: 600;
  text-align: center;
}
.b_c_b_3, .b_c_b_4 {
  font-family: 微软雅黑;
  font-weight: 400;
  color: #999;
  text-align: center;
}
.b_c_b_3 {
  font-size: .4rem;
  margin-top: .15rem;
  display: block;
}
.b_c_b_4 {
  font-size: .3rem;
  margin-top: .05rem;
}
.b_c_b_3, .b_c_b_4 {
  font-family: 微软雅黑;
  font-weight: 400;
  color: #999;
  text-align: center;
}
.order_btn{
  margin-top: .6rem;
}
.pay-wrapper-mode{
  margin-bottom: .1rem;
  font-size: .346667rem;
  color: gray;
}
.pay_span {
  font-size: .4rem;
  color: #333;
  font-weight: 500;
}
.pay-wrapper-list{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pay-wrapper-list-items{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: .266667rem;
}
.pay-wrapper-list-items-left{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.pay-wrapper-list-items-left .payment-icon{
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
}
.pay-wrapper-list-items-left .payment-title{
  margin-left: .133333rem;
  font-size: .4rem;
  color: #333;
}
.pay-btn{
  width: 100%;
  height: 1.1rem;
  background-color: #eecea8;
  background-image: linear-gradient(
    90deg
    ,#f5dbaa,#e6c17f);
  box-shadow: 0 0.08rem 0.2rem 0 rgb(0 0 0 / 10%);
  border-radius: 65px;
  text-align: center;
  line-height: 1.1rem;
  margin-top: .3rem;
  font-size: .4rem;
  color: #483122;
  font-weight: 400;
  font-family: 微软雅黑;
  padding-right: 4%;
  margin-bottom: 2rem;
}
.down_time, .down_title {
  height: .6rem;
  font-family: 微软雅黑;
  text-align: center;
  width: 90%;
}
.down_title {
  font-size: .4rem;
  color: #333;
  font-weight: 500;
  margin-top: .5rem;
}
.down_time {
  font-size: .3rem;
  color: #666;
  font-weight: 400;
}
.title_down_p_l, .title_down_p_r {
  font-size: .4rem;
  font-family: 微软雅黑;
  font-weight: 400;
  color: #333;
  margin-top: .3rem;
}
.title_down_p_l {
  float: left;
}
.title_down_p_r {
  float: right;
}
.title_down_p_l, .title_down_p_r {
  font-size: .4rem;
  font-family: 微软雅黑;
  font-weight: 400;
  color: #333;
  margin-top: .3rem;
}
.down_box {
  width: 100%;
  height: 3.5rem;
  background: #fff;
  border-radius: .2rem;
  margin-bottom: .3rem;
}
.down_box_right {
  width: 50%;
  float: left;
  height: 2.3rem;
  margin-top: .5rem;
  border-left: .01rem solid #e0e0e0;
  margin-left: .2rem;
}
.down_box_right p {
  color: #333;
  padding-left: .3rem;
  font-size: .25rem;
  font-family: 微软雅黑;
  font-weight: 400;
  line-height: .5rem;
}
.list-item_logo {
  position: relative;
  width: 50%;
  height: 3rem;
  margin: 0 auto;
}
.user_detail_logo {
  width: 2rem!important;
  height: 2rem!important;
  border-radius: 50%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.user_detail_logo_text {
  font-size: .4rem;
  text-align: center;
  margin-top: .2rem;
}
.list .list-item{
  height: 1.6rem;
  border-bottom: .013333rem solid #d8d6d9;
  box-sizing: border-box;
  font-size: .426667rem;
  color: #31333b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 86%;
  margin-left: .7rem;
}
.user_select_div {
  position: absolute;
  right: .9rem;
  margin-top: 0;
  outline: none;
  border-radius: 4px;
}
.list .list-item>img{
  width: .2rem;
}
.user_detail_select {
  direction: rtl;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #666;
  border-radius: 4px;
}
.area_area {
  width: 5rem;
  height: 1rem;
  margin-left: 2rem;
}
.area_area_text {
  color: #666;
  line-height: 1rem;
  text-align: right;
}
.user_select_div {
  position: absolute;
  right: .9rem;
  margin-top: 0;
  outline: none;
  border-radius: 4px;
}
.brand_alert {
  width: 90%;
  position: fixed;
  left: 5%;
}
.brand_alert {
  height: 5rem;
  top: 6rem;
  background-color: #fff;
  border-radius: .2rem;
}
#dis_requ_show{
  display: block;
}
#dis_requ_none{
  display: none;
}
.confirm-btn{
  width: 8.666667rem;
  height: 1.066667rem;
  border-radius: .2rem;
  font-size: .45rem;
  text-align: center;
  line-height: 1.066667rem;
  margin: 1.44rem auto 0;
  color: #fff;
  background-color: #009dfb;
  letter-spacing: .15rem;
}
.r_p_box{
  width: 90%;
  margin-left: 5%;
  height: 1.5rem;
  color: #333;
  font-size: .4rem;
}
.r_p_box>input{
  width: 70%;
  height: 1.433333rem;
  border: none;
  box-sizing: border-box;
  color: #333;
}
.line {
  width: 100vw;
  height: .266667rem;
  background-color: #f2f3f4;
}
.to_account_alert {
  width: 80%;
  height: 10.75rem;
  position: fixed;
  top: 2rem;
  left: 10%;
  background-color: #fff;
  border-radius: .2rem;
}
.to_account_img {
  width: 90%;
  margin: 0 auto;
  height: 3rem;
  display: block;
  margin-top: .5rem;
  border-radius: .2rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.to_account_text {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: block;
  margin-top: .5rem;
}
.to_account_QRCODE {
  width: 40%;
  margin: 0 auto;
  height: auto;
  display: block;
  margin-top: .4rem;
}
.confirm-btn{
  width: 65%;
  height: 1.066667rem;
  border-radius: 3.2rem;
  font-size: .38rem;
  text-align: center;
  line-height: 1.066667rem;
  margin: 1.44rem auto 0;
  color: #fff;
  background-color: #009dfb;
  letter-spacing: .02rem;
}
.bl_3 {
  width: 92%;
  height: auto;
  margin-left: 5%;
}
.bl_3_box {
  width: 2.8rem;
  height: auto;
  float: left;
  margin-right: .15rem;
  background-color: #fff;
  margin-bottom: .15rem;
}
.bl_img2 {
  width: 100%;
  height: 1.5rem;
}
.footer {
  width: 100%;
  height: 5.5rem;
  background-color: #333;
  margin-top: .8rem;
}
.footer_content {
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  padding-top: 1rem;
}
.call_phone {
  width: 4.1rem;
  height: .9rem;
  border-radius: 8px;
  background-color: #009dfb;
  line-height: .9rem;
  float: left;
  font-size: .34rem;
  font-family: 微软雅黑;
  letter-spacing: .05rem;
  color: #fff;
}
.call_phone_img {
  margin-top: .3rem;
  margin-left: .6rem;
  width: .35rem;
  height: .35rem;
  float: left;
  margin-right: .2rem;
}
.footer_img1 {
  float: right;
  width: 2.05rem;
  height: auto;
}
.footer_content_2 {
  color: #5f5f5f;
  width: 70%;
  height: auto;
  float: left;
}
.footer_img2 {
  float: right;
  width: 2.2rem;
  height: auto;
}
._4enLb, ._34evo {
  display: inline-block;
}
._4enLb {
  position: relative;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0 5px 5px 0;
  border-radius: 4px;
  color: #666;
}
._34evo {
  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 7px 5px;
}
.purchase_card {
  background-color: #fb5300;
  font-size: .5rem;
}
.search_desc {
  width: 100%;
  height: .5rem;
  margin-top: .3rem;
  text-align: center;
}
.search_desc_text {
  font-size: .34rem;
}
.color_blue {
  color: #009dfb;
}
.search_desc_text {
  font-size: .34rem;
}
.no_search {
  width: 60%;
  margin-left: 20%;
  padding-top: 2rem;
}
.no_search_img {
  width: 4rem;
  height: auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  margin: 0 auto;
}
.no_search_div, .no_search_p {
  width: 100%;
  font-size: .35rem;
  text-align: center;
  line-height: .5rem;
}
.no_search_div {
  color: #009dfb;
  margin-top: .2rem;
}
.no_search_div, .no_search_p {
  width: 100%;
  font-size: .35rem;
  text-align: center;
  line-height: .5rem;
}
.no_search_p {
  color: #dbdbdb;
  margin-top: .3rem;
}
.gotop {
  text-align: center;
  position: fixed;
  right: .5rem;
  bottom: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #000;
  z-index: 99999999999;
  width: 1rem;
}
